<main class="center">
  <div class="card narrow">
    <h1 class="ttl m0">学習補助アプリ</h1>
    <div class="actions mt16">
      <%= link_to "ログイン", new_session_path(:user), class: "btn primary" %>
      <%= link_to "新規登録", new_registration_path(:user), class: "btn" %>
    </div>
  </div>
</main>
