<!-- app/views/words/edit.html.erb -->
<% content_for :title, "тЇўУфъсѓњуиежЏє" %>
<header class="hdr">
  <div class="wrap nav">
    <div class="logo">­ЪЊў тГду┐њУБютіЕсѓбсЃЌсЃф</div>
    <nav class="links">
      <%= link_to "тЇўУфъСИђУдД", words_path %>
    </nav>
  </div>
</header>

<main class="wrap">
  <section class="card">
    <h1 class="ttl">тЇўУфъсѓњуиежЏєсЂЎсѓІ</h1>
    <%= render "form", word: @word %>
  </section>
</main>
